
.year-wrapper{
  font-size: 36px;
}
.year-wrapper__dercrease-btn, .year-wrapper__increase-btn{
  cursor: pointer;
}
.year-wrapper__dercrease-btn::selection, .year-wrapper__increase-btn::selection, .year-wrapper::selection, .year-wrapper__num::selection{
  background-color: white;
  color: black;
}

.month{
  width: 96px;
  height: 40px;
  line-height: 40px;
  border-radius: 8px;
  background-color: var(--color-white);
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 4px 8px var(--color-blue);
}
.month-wrapper{
  display: none;
  justify-content: center;
  align-items: center;
}
.month-wrapper__num{
  width: 50px;
  height: 62px;
  background-color: var(--color-transparent);
  cursor: pointer;
}
.month-wrapper__num:nth-of-type(1){
  border-radius: 8px 0 0 8px;
}
.month-wrapper__num:nth-last-of-type(1){
  border-radius: 0 8px 8px 0;
}


.calendar{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

/* 요일 */
.calendar__day-of-week-wrapper{
  display: flex;
}
.calendar__day-of-week{
  font-size: 24px;
  width: 96px;
  height: 32px;
  text-align: center;
}


/* 홀수 주차 */
.calendar__week{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendar__odd-week-day{
  width: 96px;
  height: 107px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.calendar__odd-week-day:nth-of-type(odd){
  background-color: var(--color-transparent);
}
.calendar__odd-week-day:nth-of-type(even){
  background-color: var(--color-white);
}
/* 짝수 주차 */
.calendar__even-week-day{
  width: 96px;
  height: 107px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.calendar__even-week-day:nth-of-type(odd){
  background-color: var(--color-white);
}
.calendar__even-week-day:nth-of-type(even){
  background-color: var(--color-transparent);
}

/* 일정 개수 */
.calendar__schedule-count{
  color: red;
}


