.date {
  position: absolute;
  top: 40px;
  left: 320px;
  width: 102px;
  height: 134px;
  color: var(--color-blue);
  display: flex;
  flex-direction: column;
  gap: 16px;
}
body {
  padding-left: 320px;
}
.date__year {
  font-size: 36px;
}
.date__month,
.date__day {
  font-size: 24px;
}
.schedule-wrapper {
  width: 884px;
  display: flex;
  align-items: end;
  gap: 34px;
}
.schedule-wrapper__schedule {
  display: flex;
  flex-direction: column;
  width: 544px;
  height: 207px;
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--color-blue);
}
.schedule-wrapper__schedule--passed {
  display: flex;
  flex-direction: column;
  width: 544px;
  height: 207px;
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--color-gray);
}
.schedule-wrapper__modify-btn,
.schedule-wrapper__delete-btn,
.schedule-wrapper__apply-btn,
.schedule-wrapper__cancel-btn {
  width: 96px;
  height: 40px;
  line-height: 40px;
  border-radius: 8px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  margin-right: 40px;
  background-color: white;
  box-shadow: 0 4px 8px var(--color-midBlue);
}
.schedule-wrapper__modify-btn--passed,
.schedule-wrapper__delete-btn--passed {
  width: 96px;
  height: 40px;
  line-height: 40px;
  border-radius: 8px;
  font-size: 12px;
  text-align: center;
  margin-right: 40px;
  background-color: var(--color-gray);
}
.schedule__time,
.schedule__time-input {
  width: 128px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  background-color: var(--color-white);
  border-radius: 8px;
  margin: 40px 0 0 32px;
}
.schedule__content {
  height: 24px;
  margin: 36px auto;
  /* 부모요소가 flex일 때 margin auto가 달라짐 */
  border-radius: 8px;
}
.schedule__content--passed{
  height: 24px;
  margin: 36px auto;
  border-radius: 8px;
  text-decoration: line-through;
}
.schedule__content-input {
  width: 355px;
  height: 24px;
  margin: 36px auto;
  /* 부모요소가 flex일 때 margin auto가 달라짐 */
  border-radius: 8px;
  background-color: var(--color-white);
}
