/* aside */
.aside{
  position: fixed;
  width: 192px;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 40px 0 40px 0;
  transition: all 1s;
  transform: translateX(129px);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: safe center;
  /* 자식요소가 부모요소를 벗어나면 overflow범위를 벗어남 */
  align-items: center;
  gap: 32px;
  overflow: hidden;
}
/* aside 내부 요소 */
.aside__toggle{
  position: absolute;
  left: 0;
  top: 70px;
  width: 16px;
  height: 26px;
  cursor: pointer;
}
.aside__upper-arrow{
  position: absolute;
  caret-color: transparent;
  transition: all 0.6s
}
.aside__lower-arrow{
  position: absolute;
  caret-color: transparent;
  transition: all 0.6s;
}
.aside__my-info{
  padding: 32px 0 32px 0;
  background-color: var(--color-transparent);
  box-shadow: 0 4px 8px;
  border-radius: 8px;
  width: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.7s;
  opacity: 0;
  cursor: pointer;
}
.aside__home-btn{
  transition: all 1s;
  width: 32px;
}
.aside__logout-btn, .aside__move-to-updateMyInfoPage{
  height: 52px;
  line-height: 52px;
  background-color: var(--color-transparent);
  box-shadow: 0 4px 8px;
  border-radius: 8px;
  width: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.7s;
  opacity: 0;
  cursor: pointer;
}
.aside__member-list{
  background-color: var(--color-transparent);
  box-shadow: 0 4px 8px;
  border-radius: 8px;
  width: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.7s;
  opacity: 0;
  cursor: pointer;
  gap: 16px;
  text-decoration: underline;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 24px 0 24px 0;
}