/* 페이지 최상단 로그인, 회원가입, 비밀번호 찾기 등 정보가 담기는 배너 */
.banner{
  width: 544px;
  height: 62px;
  line-height: 62px;
  border-radius: 8px;
  text-align: center;
  background-color: var(--color-lightBlue);
}
/* input에 들어갈 요소 */
.label{
  font-weight: 800;
  font-size: 16px;
  display: block;
}

/* text타입 디자인 */
.text{
  width: 544px;
  height: 62px;
  line-height: 62px;
  border-radius: 8px;
  border: none;
  background-color: var(--color-transparent);
  font-size: 20px;
}

/* button타입 디자인 */
.btn{
  width: 96px;
  height: 40px;
  line-height: 40px;
  border-radius: 8px;
  background-color: var(--color-white);
  font-size: 12px;
  cursor: pointer;
  text-align: center;
}
.longBtn{
  width: 224px;
  height: 40px;
  line-height: 40px;
  border-radius: 8px;
  background-color: var(--color-white);
  font-size: 12px;
  cursor: pointer;
  text-align: center;
}

/* radio타입  디자인 */
.radio{
  appearance: none;
  width: 96px;
  height: 40px;
  line-height: 40px;
  border-radius: 8px;
  background-color: var(--color-white);
  font-size: 12px;
  cursor: pointer;
  text-align: center;
}
.radio::after { /* radio 이름(label) 삽입 */
  content: attr(label);
}