/* 로그인, 회원가입, 비밀번호 찾기 등 의 정보가 담기는 배너 */
.inputBanner{
  width: 544px;
  height: 62px;
  line-height: 62px;
  border-radius: 8px;
  text-align: center;
  background-color: var(--color-lightBlue);
}

/* text타입 input태그의 기본 디자인 */
.defaultInputText{
  width: 544px;
  height: 62px;
  line-height: 62px;
  border-radius: 8px;
  border: none;
  background-color: var(--color-transparent);
  font-size: 20px;
}

/* 아이디, 비밀번호 등 input의 이름 */
.inputTitle{
  font-weight: 800;
  font-size: 16px;
  display: block;
}

/* button타입 input태그의 기본 디자인 */
.defaultBtn{
  width: 96px;
  height: 40px;
  line-height: 40px;
  border-radius: 8px;
  background-color: var(--color-white);
  font-size: 12px;
  cursor: pointer;
  text-align: center;
}
.longBtn{
  width: 224px;
  height: 40px;
  line-height: 40px;
  border-radius: 8px;
  background-color: var(--color-white);
  font-size: 12px;
  cursor: pointer;
  text-align: center;
}

/* radio타입 input태그의 기본 디자인 */
.defaultRadio{
  appearance: none;
  width: 96px;
  height: 40px;
  line-height: 40px;
  border-radius: 8px;
  background-color: var(--color-white);
  font-size: 12px;
  cursor: pointer;
  text-align: center;
}
.defaultRadio::after {
  content: attr(label);
}