/* 커스텀 색상 */
:root{
  --color-lightBlue: #53D0FA;
  --color-mint: #03FCEB;
  --color-blue: #001DFA;
  --color-mid-blue: #589DFA;
  --color-white: #EDF1F8;
  --color-gray: #D9D9D9;
  --color-transparent: #EDF1F8AA;
}

/* 기본 body태그 디자인 */
body{
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  gap: 40px;
}

input{
  margin: 0;
  padding: 0;
  border: 0;
}

/* 기본 컨테이너 */
.columnContainer{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.rowContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}